body {
  font-family: verdana
}
#nom_res {
  color: #444444;
  font-size: 30px;
}
#sig_res {
  font-style: italic;
  font-size:14px;
}
.boton {
  border-radius: 20px;
  color: white;
  font-style: bold;
  font-size: 120%;
  background-color: #6000CE;
  height: 40px;
  border: 0px;
  width: 100%;
}
.agregar:hover {
  background-color: #9000FE;
}
.contenedor {
  display: inline-block;
  min-width: 100px;
  background-color: #DDDDDD;
  padding: 30px;
  border-radius: 30px;
  border: 0px;
}
input[type=text] {
  border: 0px;
  padding: 10px;
  border-radius: 10px;
}
